<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
	<wicket:panel>
		<div style="background-color:coral; padding: 35px;">
			MusicAppMain
			
			<div wicket:id="bandListPanel"></div>
	    	<div wicket:id="albumListPanel"></div>
	    	
			<div style="background-color:blue; padding: 35px;">
			Content area
			
			<div>
				<!-- <div wicket:id="contentPanelHolderBandViewer"></div>
				<div wicket:id="contentPanelHolderTrackList"></div>  -->
				<div wicket:id="contentPanelHolder"></div>
			</div>
			
			</div>
		</div>
	</wicket:panel>
</body>
</html>