<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
    <wicket:panel>
      <div wicket:id=lblArticlePage></div>
    <table width = "100%">
	    <tr>
	      <th>Title</th>
	      <th>Writer</th>
	      <th>Content</th>
	    </tr>
	    <tr wicket:id="articles">
	      <td>
	        <span wicket:id="title">My first article</span>
	      </td>
	      <td>
	        <span wicket:id="author">Admin</span>
	      </td>
	      <td>
	        <span wicket:id="content">Ez a tartalma</span>
	      </td>
	    </tr>
  	</table> 
    </wicket:panel>
</body>
</html>