<div [ngSwitch]="isAuthenticated()">
	<div *ngSwitchCase="true">
		<span id="home-logged-message" *ngIf="account"> Signed in "{{account.login}}" </span>
		<form class="form" role="form" (ngSubmit)="logout()">
			<button type="submit">Logout</button>
		</form>
	</div>
	<div *ngSwitchCase="false">
		<div *ngIf="authenticationError">
			<strong>Failed to sign in!</strong> Please check your credentials and try again.
		</div>
		
		<form class="form" role="form" (ngSubmit)="login()">
			<div>
				<label for="username">Login</label>
				<input type="text" name="username" id="username" placeholder="Your username" [(ngModel)]="username">
			</div>
		
			<div>
		    	<label for="password">Password</label>
		        <input type="password" name="password" id="password" placeholder="Your password" [(ngModel)]="password">
		    </div>
		                
		    <div>
		    	<label for="rememberMe">
		        	<input type="checkbox" name="rememberMe" id="rememberMe" [(ngModel)]="rememberMe" checked>
		            	<span>Remember me</span>
		        </label>
		    </div>
		    
		    <button type="submit">Sign in</button>
		</form>
	</div>
</div>