<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="track">
            <h2><span>Track</span> {{track.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{track.title}}</span>
                </dd>
                <dt><span>Year</span></dt>
                <dd>
                    <span>{{track.year}}</span>
                </dd>
                <dt><span>Band</span></dt>
                <dd>
                    <div *ngIf="track.bandId">
                        <a [routerLink]="['/band', track.bandId, 'view']">{{track.bandId}}</a>
                    </div>
                </dd>
                <dt><span>Performers</span></dt>
                <dd>
                    <span *ngFor="let performers of track.performers; let last = last">
                        <a [routerLink]="['/musician', performers?.id, 'view' ]">{{performers.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/track', track.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
